footer{
    background-color: rgba(122, 122, 122, 0.897);
    padding: 20px 15px;
}
p{
    font-size: 15px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(230, 230, 230);
}
    /*
        Header
    */
#cabecalho{
    background-color: rgb(138, 132, 132);
    padding: 8px;
    height: 50px;
}

    /*
        FIM Header
  --------------------
        Article
    */
.caixa-conteudo{
    width: 1000px;
    background-color: rgb(230, 230, 230);
    margin: 20px;
    padding: 10px 20px;
}
.caixa-paragrafo{
    background-color: white;
    margin: 10px;
    padding: 5px;
    width: 700px;
}
    /*
        FIM Article
  --------------------
        Footer
    */
#footer-contatos{
    padding: 8px;
}
#zap{
    background-color: rgb(52, 175, 35);
}
#face{
    background-color: #3f729b;
}
#insta{
    background: linear-gradient(40deg, rgba(235, 235, 96, 0.699), rgb(228, 25, 184), rgb(126, 29, 216));
}
.caixinha-contatos{
    border: 2px solid rgb(68, 67, 67);
    border-radius: 5px;
    margin: 10px 5px;
    background-color: white;
    height: 50px;
    width: 85px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}