p{
    font-size: 15px;
}
li{
    display:inline-block;
    list-style: none;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(230, 230, 230);
}
    /*
        Header
    */
#cabecalho{
    background-color: rgb(175, 174, 174);
    display: grid;
    grid-template-columns: 800px 500px;
    padding: 10px;
    height: 80px;
}
#logo{
    font-size:x-large;
    text-align: center;
    padding: 20px;
}
#logo:hover{
    font-size:xx-large;
    text-align: center;
    padding: 10px;
}
#navegacao{

}

.logo{
    background-color: rgb(185, 180, 180);
    padding: 10px 20px;
}
.links-header{
    color: #43718bf3;
    border:1px solid red;
    font-size: 19px;
}
.lista-header{
    margin: 10px 5px;
    padding: 8px;
    border:1px solid;
}

    /*
        FIM Header
  --------------------
        Container
    */
#sessao-principal{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
#sidebar{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
#sessao-primaria{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.container{
    background-color: rgb(222, 222, 223);
    display: grid;
    grid-template-columns: 920px 350px;
    padding: 40px 50px;
    gap: 20px 50px;
}
.caixa-conteudo{
    padding: 20px;
    border-radius: 3px;
    background-color: rgb(202, 202, 202);
}
.caixa-paragrafo{
    margin: 20px;
    padding: 20px;
    background-color: rgb(212, 212, 212);
}
    /*
        FIM Container
  --------------------
        Footer
    */

#footer-contatos{
    display: flex;
    justify-content: center;
}
#zap{
    background: linear-gradient(40deg, rgb(52, 175, 35), rgb(97, 211, 82))
}
#face{
    background: linear-gradient(40deg, #3f729b, #104774);
}
#insta{
    background: linear-gradient(40deg, rgba(235, 235, 96, 0.699), rgb(228, 25, 184), rgb(126, 29, 216));
}
#contatos-footer{
    display: flex;
    background-color: #696969;
    padding: 2px;
    justify-content: center;
}
.footer{
    background-color: rgba(122, 122, 122, 0.897);
    display: inline-block;
    padding: 20px 15px;
    width: 100%;
}
.caixinha-contatos{
    border-radius: 5px;
    margin: 10px 5px;
    background-color: white;
    height: 50px;
    width: 85px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}