*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(136, 135, 135);
    font-family:Arial, Helvetica, sans-serif
}
p{
    font-size: 14px;
}
li{
    display:inline-block;
    list-style: none;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

    /*
        Header
    */
#cabecalho{
    position:fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: rgb(39, 39, 39);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 40px;
    height: 80px;
}
#logo{
    font-size:large;
    text-align: center;
    padding: 20px;
    transition: 2s;
}
#navegacao{
    text-align: right;
}

.logo{
    background-color: rgb(65, 64, 64);
    border-radius: 30px;
    line-height: 25px;
    padding: 10px 20px;
}
.logo:hover{
    font-size:x-large;
    text-align: center;
    padding: 15px;
    transition: 2s;
}
.links-header{
    color: #93948a;
}
.links-header:hover{
    color: #d9ff00;
}
.lista-header{
    line-height: 90px;
    height: 32px;
    padding: 0px 10px;
    text-align: center;
}

    /*
        FIM Header
  --------------------
        Container
    */
body#index, #content-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
body#index #content-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
body#index #sidebar{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

body#index .container{
    background-color: rgb(168, 167, 167);
    display: grid;
    grid-template-columns: 920px 350px;
    padding: 40px;
    gap: 20px 50px;
}


.container{
    margin-top: 80px;
}
.caixa-conteudo{
    padding: 20px;
    border-radius: 3px;
    background-color: rgb(134, 134, 134);
    box-shadow: 0px 2px 5px rgb(39, 38, 38);
}
.caixa-paragrafo{
    margin: 20px;
    padding: 20px;
    background-color: rgb(219, 218, 218);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgb(82, 81, 81);
}
    /*
        FIM Container
  --------------------
        Footer
    */
#footer-contatos{
    grid-column-start: 4;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 15%;
    grid-template-rows: 30px 30px;
    gap: 15px 12px;
}
#footer-contatos a{
    text-shadow: 0 1px 2px black;
    font-size: 90%;
}
#zap{
    grid-column-start: 2;
    background: linear-gradient(40deg, rgb(103, 170, 94), rgb(136, 216, 125))
}
#face{
    grid-column-start: 3;
    background: linear-gradient(40deg, #6d89a0, #285377);
}
#insta{
    grid-column-start: 4;
    background: linear-gradient(40deg, rgba(235, 235, 96, 0.445), rgba(228, 25, 184, 0.473), rgba(126, 29, 216, 0.459));
}
#zap:hover{
    background: linear-gradient(40deg, rgb(52, 175, 35), rgb(97, 211, 82))
}
#face:hover{
    background: linear-gradient(40deg, #3f729b, #104774);
}
#insta:hover{
    background: linear-gradient(40deg, rgba(235, 235, 70, 0.699), rgb(228, 25, 184), rgb(126, 29, 216));
}
#h3-contato{
    grid-column-start: 1;
    grid-column-end:6;
    background-color: #696969;
    padding: 2px;
    color: #d9ff00;
    text-align: center;
    border-radius: 5px;
    line-height: 30px;
    text-shadow: 0px 0px 4px black;
}
#creditos{
    text-align: right;
    color: rgb(223, 223, 223);
    grid-column-start: 4;
    grid-row-start: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.footer{
    box-shadow: 0px -1px 7px rgb(7, 7, 7);
    display: grid;
    grid-template-columns: 20% 20% 25% 35%;
    grid-template-rows: auto 20px;
    gap: 20px 0px;
    background-color: rgb(39, 39, 39);
    padding-top: 40px;
    padding-left: 5.5px;
    padding-right: 5.5px;
    padding-bottom: 10px;
    width: 100%;
}
.caixinha-contatos{
    grid-row-start: 2;
    border-radius: 5px;
    background-color: white;
    line-height: 30px;
    text-align: center;
}
