*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(40deg, rgb(228, 228, 228), rgb(231, 231, 231));
    font-family: 'Space Mono', monospace;
}
p{  
    font-size: 0.95rem;
    font-weight: 600;
    color: rgb(59, 59, 59);
    
}
li{
    display:inline-block;
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}
h2{
    color:#696969;
    text-align: center;
    font-size: x-large;
}
h2, #logo, #navegacao{
    font-family: 'Silkscreen', cursive;
    font-weight: lighter;
}

    /*
        Header
    */
#cabecalho{
    position:relative;
    top: 0;
    left: 0;
    right:0;
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(22, 22, 22));
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 5%;
    padding: 10px 40px;
    height: 85px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
#logo{
    font-size:large;
    text-align: center;
    padding: 20px;
    transition: 2s;
}
#navegacao{
    text-align: right;
}

.logo{
    background-color: rgb(65, 64, 64);
    border-radius: 30px;
    line-height: 25px;
    padding: 10px 20px;
}
.logo:hover{
    font-size:x-large;
    text-align: center;
    padding: 15px;
    transition: 2s;
}
.links-header{
    color: #93948a;
}
.links-header:hover{
    color: #d9ff00;
    transition: 500ms;
}
.lista-header{
    line-height: 90px;
    height: 32px;
    padding: 0px 10px;
    text-align: center;
}

    /*
        FIM Header
  --------------------
        *Layouts Principal*
    */

.container-1{
    display: grid;
    grid-template-columns: 10% 10% 10% 15% 10% 10% 5% 10% 5% 5%;
    grid-template-rows: 60px 80px 60px 150px 30px 80px 60px 150px 30px 80px;
    gap: 15px 1.1%;
}
.container-2{
    display: grid;
    grid-template-columns: 10% 10% 10% 15% 10% 10% 5% 10% 5% 5%;
    grid-template-rows: 60px 80px 60px 80px 30px 80px 60px 80px 30px 80px;
    gap: 15px 1.1%;
}
.content-1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}
.content-2{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
}
.sidebar{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 10;
}


    /*
        FIM *Layouts Principal*
    --------------------
        Content Site
    */  

.sidebar{
    
}
.sidebar h2{
    padding: 2% 1%;
    font-size: 1.3rem;
}
.content-1{
    padding: 20px 40px;
}
.content-2{
    padding: 20px 40px;
}
.container-1{
    padding: 60px 100px;
    position: relative;
}
.caixa-conteudo{
    position: relative;
    background-color: rgb(241, 241, 241);
}
.caixa-paragrafo{
    top: 2rem;
    position: relative;
    padding: 10px;
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
}

    /*
        FIM Content Site
    --------------------
        Footer
    */

#footer-contatos{
    grid-column-start: 4;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 0% 27% 27% 27% 0%;
    grid-template-rows: 30px 30px;
    gap: 15px 12px;
    font-family: 'Silkscreen', cursive;
}
#footer-contatos a{
    text-shadow: 0 1px 2px black;
    color: rgba(255, 255, 255, 0.788);
    font-size: 90%;
    font-weight: 600;
}
#footer-contatos a:hover{
    color: white;
}
#zap{
    grid-column-start: 2;
    color: rgba(255, 255, 255, 0.199);
    background: linear-gradient(40deg, rgb(103, 170, 94), rgb(136, 216, 125))
}
#face{
    color: rgba(255, 255, 255, 0.199);
    grid-column-start: 3;
    background: linear-gradient(40deg, #6d89a0, #285377);
}
#insta{
    color: rgba(255, 255, 255, 0.199);
    grid-column-start: 4;
    background: linear-gradient(40deg, rgba(235, 235, 96, 0.445), rgba(228, 25, 184, 0.473), rgba(126, 29, 216, 0.459));
}
#zap:hover{
    background: linear-gradient(40deg, rgb(52, 175, 35), rgb(97, 211, 82))
}
#face:hover{
    background: linear-gradient(40deg, #3f729b, #104774);
}
#insta:hover{
    background: linear-gradient(40deg, rgba(235, 235, 70, 0.699), rgb(228, 25, 184), rgb(126, 29, 216));
}
#h3-contato{
    grid-column-start: 1;
    grid-column-end:6;
    background-color: #696969;
    padding: 2px;
    color: #c3c4c0;
    text-align: center;
    border-radius: 5px;
    line-height: 30px;
    text-shadow: 0px 0px 4px black;
}
#creditos{
    text-align: right;
    color: rgb(223, 223, 223);
    grid-column-start: 4;
    grid-row-start: 2;
    
}


.footer{
    position: relative;
    display: grid;
    grid-template-columns: 20% 20% 25% 35%;
    grid-template-rows: auto 20px;
    gap: 20px 0px;
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(22, 22, 22));
    padding-top: 40px;
    padding-left: 5.5px;
    padding-right: 5.5px;
    padding-bottom: 10px;
    width: 100%;
}
.caixinha-contatos{
    grid-row-start: 2;
    border-radius: 5px;
    background-color: white;
    line-height: 30px;
    text-align: center;
}

    /*
         FIM Footer
    --------------------
    */

@media screen and (max-width: 1200px){
    p{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 1000px){
    .sidebar{
        display: none;
        grid-column-start: 0;
        grid-column-end: 0;
        grid-row-start: 0;
        grid-row-end: 0;
    }
    .container-1{
        padding: 3rem 50px;
        grid-template-columns: 10% 10% 10% 15% 10% 10% 10% 10% 5% 5%;
        grid-template-rows: 60px 80px 60px 150px 30px 30px 60px 150px;
        gap: 15px 0.5%;
    }
    .footer{
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto 20px;
        padding-top: 40px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #footer-contatos{
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 1;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 30px 30px 30px;
        gap: 15px 1.2px;
    }
    #face{
        grid-column-start: 2;
        grid-row-start: 3;
    }
    #insta{
        grid-row-start: 4;
        grid-column-start: 2
    }
    #creditos{
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 2;
        font-size: 90%;
    }
@media screen and (max-width: 830px){

        .content-1{
            grid-column-start: 1;
            grid-column-end: 11;
            grid-row-start: 1;
            grid-row-end: 7;
            padding: 15px;
        }
        .content-2{
            grid-column-start: 1;
            grid-column-end: 11;
            grid-row-start: 7;
            grid-row-end: 11;
            padding: 15px;
        }
    }
}