*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif
}
p{
    font-size: 14px;
}
li{
    display:inline-block;
    list-style: none;
}
a{
    text-decoration: none;
    font-weight: bold;
}
    /*
        Header
    */
#cabecalho{
    position:fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: rgb(39, 39, 39);
    display: grid;
    grid-template-columns: 800px 500px;
    padding: 10px;
    height: 80px;
}
#logo{
    font-size:x-large;
    text-align: center;
    padding: 20px;
    transition: 1s;
}

.logo{
    background-color: rgb(65, 64, 64);
    border-radius: 30px;
    line-height: 25px;
    padding: 10px 20px;
}
.logo:hover{
    font-size:xx-large;
    text-align: center;
    padding: 20px;
    transition: 2s;
}
.links-header{
    color: #93948a;
}
.links-header:hover{
    color: #d9ff00;
}
.lista-header{
    line-height: 90px;
    height: 32px;
    padding: 0px 10px;
    text-align: center;
}

    /*
        FIM Header
  --------------------
        Container
    */
body#index, #content-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
body#index #content-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
body#index #sidebar{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

body#index .container{
    margin-top: 80px;
    background-color: rgb(90, 90, 90);
    display: grid;
    grid-template-columns: 920px 350px;
    padding: 40px 50px;
    gap: 20px 50px;
}


.container{
    margin-top: 80px;
    background-color: rgb(90, 90, 90);
    padding: 40px 50px;
}
.caixa-conteudo{
    padding: 20px;
    border-radius: 3px;
    background-color: rgb(134, 134, 134);
}
.caixa-paragrafo{
    margin: 20px;
    padding: 20px;
    background-color: rgb(146, 145, 145);
    border: 1px solid white;
    color: rgb(0, 0, 0);
}
    /*
        FIM Container
  --------------------
        Footer
    */
#footer-contatos{
    grid-column-start: 4;
    grid-row-start: 1;
}
#zap{
    background: linear-gradient(40deg, rgb(103, 170, 94), rgb(136, 216, 125))
}
#face{
    background: linear-gradient(40deg, #6d89a0, #285377);
}
#insta{
    background: linear-gradient(40deg, rgba(235, 235, 96, 0.445), rgba(228, 25, 184, 0.473), rgba(126, 29, 216, 0.459));
}
#zap:hover{
    background: linear-gradient(40deg, rgb(52, 175, 35), rgb(97, 211, 82))
}
#face:hover{
    background: linear-gradient(40deg, #3f729b, #104774);
}
#insta:hover{
    background: linear-gradient(40deg, rgba(235, 235, 96, 0.699), rgb(228, 25, 184), rgb(126, 29, 216));
}
#h3-contato{
    background-color: #696969;
    padding: 2px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}
#creditos{
    text-align: right;
    grid-column-start: 4;
    grid-row-start: 4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lista-contatos{
    text-align: center;
}
.footer{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 100px 30px;
    background-color: rgb(39, 39, 39);
    padding: 30px 11px;
    width: 100%;
}
.caixinha-contatos{
    border-radius: 5px;
    margin: 10px 5px;
    background-color: white;
    height: 30px;
    width: 85px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}